.navbar {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #202020;
	padding: 1rem 3rem;
	&__logo {
		font-size: 32px;
		font-weight: bold;
		color: #fff;
		cursor: pointer;
		background-color: #202020;
		border: none;
	}
}

@media only screen and (max-width: 600px) {
	.navbar {
		flex-direction: column;
		&__icon {
			display: none;
		}
		&__logo {
			margin-bottom: 1rem;
		}
	}
}
